<!--Redes sociales-->
<div class="footer-section-container">
    <ul class="socials">
        <!--Github-->
        <li>
            <a class="socials-icon" href="https://github.com/CachaSan10" target="_blank">
                <i class="bi bi-github"></i>
            </a>
        </li>

        <!--Linkedin-->
        <li>
            <a class="socials-icon" href="https://www.linkedin.com/in/nahuel-alberto-cachambi-29634126a/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
        </li>
    </ul>
</div>

<!--Copy y Linkedin-->
<div class="footer-section-container">
    <p>
        &copy; 2023 -
        <a class="footer-link" href="https://www.linkedin.com/in/nahuel-alberto-cachambi-29634126a/" target="_blank">
  Nahuel Alberto Cachambi
</a>
    </p>
</div>