.footer-section-container {
    display: flex;
    justify-content: center;
    
}

.footer-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.socials{
    list-style-type: none;
    
    
}

.socials li{
    display: inline;
    margin-right: 1em;
    font-size: 40px;
    
}